/*fonts start*/

@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('fonts/glyphicons/glyphicons-halflings-regular.eot') format('embedded-opentype'),  url('fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons/glyphicons-halflings-regular.ttf')  format('truetype'), url('fonts/glyphicons/glyphicons-halflings-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: url('fonts/fontawesome') format('embedded-opentype'),  url('fonts/fontawesome/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome/fontawesome-webfont.ttf')  format('truetype'), url('fonts/fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Black';
  src: url('fonts/roboto/Roboto-Black.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('fonts/roboto/Roboto-BlackItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/roboto/Roboto-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('fonts/roboto/Roboto-BlackItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('fonts/roboto/RobotoCondensed-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed-BoldItalic';
  src: url('fonts/roboto/RobotoCondensed-BoldItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed-Italic';
  src: url('fonts/roboto/RobotoCondensed-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('fonts/roboto/RobotoCondensed-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed-LightItalic';
  src: url('fonts/roboto/RobotoCondensed-LightItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('fonts/roboto/RobotoCondensed-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('fonts/roboto/Roboto-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/roboto/Roboto-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('fonts/roboto/Roboto-LightItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/roboto/Roboto-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('fonts/roboto/Roboto-MediumItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/roboto/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('fonts/roboto/Roboto-Thin.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('fonts/roboto/Roboto-ThinItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*fonts end*/


body{
	font-family: roboto;
	font-size: 14px;
}
p {
    color: #666;
    font-size: 16px;
    text-decoration: none;
}
/*.modal-backdrop{
  z-index: 0;
}*/
/*top header*/
.top-header .btn.btninputs{
  padding: 0;
  font-size: 12px;
  vertical-align: inherit;
  outline: none;;
}

.navbar-header {
  padding: 3px;
}
.top-header .list-unstyle{
  padding: 5px 0;
}
.list-unstyle {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.list-unstyle li {
  display: inline;
  font-size: 12px;
}
.navbar{
	min-height: auto;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  background: #eeeeee;
  color: #ff6c4b;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #eeeeee;
  border-bottom: 5px solid #ff6c4b;
  color: #ff6c4b;
}
.top-header .list-unstyle li a {
  border-right: 1px solid rgba(204, 204, 204, 0.8);
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
}
.top-header .list-unstyle li:last-child a {
  border: 0 none;
}
.loginbtn .fa-sign-in, .homebtn .fa-home {
  margin-right: 5px;
}
.top-header {
  background: #118F99;
}
.navbar-brand{
	height: auto;
  width: 208px;
	padding: 0;
}
.main-nav {
  background: #fff;
}
.navbar-collapse{
	padding: 0;
}
.main-nav ul.navbar-nav li a {
  color: #118f99;
  font-family: Roboto-Regular;
}
.navbar-nav.list-unstyle a {
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  padding: 37px 25px;
}
.navbar-nav.list-unstyle button{
  margin-top: 30px;
  margin-left: 15px;
  outline: none;
  background: #ff6c4b;
  border: #ff6c4b;
  font-size: 16px;
}
.navbar-nav.list-unstyle button:hover {
  opacity: 0.9;
}
.navbar-nav > li > a:hover {
  border-bottom: 5px solid #ff6c4b;
}
.main-nav ul.navbar-nav li a {
  color: #118f99;
  font-family: Roboto-Regular;
  font-size: 16px;
  outline: 0;
}
.navbar{
  margin-bottom: 0;
}
.nav > li {
  position: relative;
}
.submenu {
  position: absolute;
  z-index: 1;
  display: block;
  width: 200px;
}
.main-nav .nav > li > .submenu {
  display: none;
}
.main-nav .nav > li:hover > .submenu {
  display: block;
}
.main-nav .nav > li .submenu > li > a {
  background: #eee;
  display: block;
  padding: 4px 10px;
  color: #ff6c4b;
  border-top:  0;
  border: 1px solid #ff6c4b;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}
.main-nav .nav > li .submenu > li:first-child > a{
  border-bottom: 0;
}
.navbar-nav > li > a:hover .submenu{
  display: block;
}
.main-nav ul.navbar-nav .submenu a {
  color: #fff;
}
.main-nav .nav > li .submenu > li > a:hover{
  background: #ff6c4b;
  color: #fff;
}
.db-underline::before {
  background-color: #ff6c4b;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 37px;
  width: 45px;
}
.db-underline {
  border-bottom: 3px solid #c9d0d1;
  color: #118f99;
  padding-bottom: 4px;
  position: relative;
}
.headingstyle {
  color: #012b5d;
  font-size: 24px;
  font-family: Roboto-Bold;
  margin-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
/*carosel styles start*/
.home-slider {
  padding: 100px 0 30px;
}
.carousel-inner{
  height: 540px;
}
.item > img {
  display: block;
  margin: 0 auto;
}
.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control{
  font-size: 40px;
  width: 5%;
  top: 50%;
  bottom: 50%
}
.carousel-caption{
  bottom: 30%;
}
.carousel-caption {
  text-align: left;
  padding: 0;
  color: #4ccfe1;
}
.carousel-caption > p {
  color: #fff;
  font-size: 24px;
}
.carousel-caption > h1 {
  font-size: 46px;
}
.home-slider .carousel-caption button {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  padding: 4px 26px;
  font-size: 18px;
}
/*carosel styles end*/

/*about section start*/
.sectionpadding {
  padding-bottom: 30px;
}
.abouttxt-left h1 {
  color: #4ccfe1;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.abouttxt-right p {
  color: #666;
}
/*about section end*/

/*services section start*/
.servicedes h4 {
  color: #FF7B5D;
  font-size: 20px;
}
.readmore::after {
  content: "";
  font-family: fontawesome;
  font-size: 20px;
  margin-left: 9px;
  color: #4ccfe1;
  position: relative;
  top: 2px;
}

.inner-content{
  padding: 105px 0 30px;
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}
/*services section end*/

/*---- parallax section start ----*/
.parallax-img {
  background: rgba(0, 0, 0, 0) url("/frontend/web/images/parallax.png") no-repeat fixed 0 0 / cover ;
  padding: 20px 0;
}
.section3 {
    background: #e1e9eb;
}
.parallax-img p.readmore {
  color: #fff;
}
.eventbg1,
.eventbg2,
.eventbg3 {
    background: #007c85;
}
.evnt-txt1 {
    color: #fff;
    font-size: 20px;
}
.datestyle {
    font-weight: bold;
}
.eventbg1,
.eventbg2 {
    border-bottom: 2px solid #ffffff;
}
.evnt-date {
    color: #ffffff;
    font-size: 14px;
}
.evnt-txt2 {
    color: #ffffff;
    font-size: 16px;
}
.evntcont {
    padding: 7px 0;
}
.evntcont > p {
    margin-bottom: 5px;
}
.multiple-items .slick-next::before {
    background: #FF7B5D;
    content: "\f105";
    font-family: fontawesome;
    font-size: 22px;
    padding: 2px 8px;
}
.multiple-items .slick-prev::before {
    content: "\f104";
    background: #FF7B5D;
    font-family: fontawesome;
    font-size: 22px;
    padding: 2px 8px;
    margin-right: 5px;
}
.multiple-items .slick-prev,
.multiple-items .slick-next {
    top: 0;
    transform: translate(0px, -144%);
    width: auto;
}
.multiple-items .slick-prev {
    left: initial;
    right: 23px;
}
.multiple-items .slick-next {
    right: 0;
}
.marketing .headingstyle{
  margin-bottom: 30px;
}
.parallax-img span.db-underline {
  color: #eeeeee;
}

/*---- parallax section end ----*/

/*partners section start*/
.sectionpartners {
  background: #dedede;
  padding: 30px 0;
}
.sectionpartners .slick-prev::before, .sectionpartners .slick-next::before{
  display: none;
}
/*partners section end*/

/*modal styles start*/
.modal-title {
  color: #118f99;
}
/*modal styles end*/

/*inner page start*/
.innerpagecont {
  padding: 140px 0 60px;
}
.styleh2 {
  color: #118f99;
  font-size: 24px;
}
ul.list-unstyle-block {
  padding: 0 20px;
}
.list-unstyle-block > li {
  list-style: url("../img/list.png");
  margin-bottom: 8px;
}
.right-cont {
  background: #f5f5f5;
  padding: 15px 0 15px 15px;
  margin-bottom: 15px;
}
.btnsregister{
  padding: 15px;
}
.formbtnstyle {
  background: #118f99;
  border: 1px solid #118f99;
  border-radius: 0;
  margin-bottom: 10px;
  text-align: center;
  width: 264px;
}
.formbtnstyle:hover, .formbtnstyle:focus {
  background: #fff;
  border: 1px solid #118f99;
  color: #118f99;
}
.innerpagecont .headingstyle{
  margin-bottom: 16px;
  font-size: 18px;
}
.eventrightpanel {
  background: #f5f5f5;
  height: 240px;
  margin-bottom: 20px;
  overflow-y: scroll;
  padding: 0 10px;
}
.eventrightpanel p {
  color: #333333;
}
.eventrightpanel .evnt-txt1 {
  font-size: 16px;
  color: #118F99;
}
.eventrightpanel .evnt-date {
  color: #828282;
  font-size: 12px;
}
.eventrightpanel .evnt-txt2 {
  font-size: 13px;
}
.eventrightpanel .evntcont {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.eventrightpanel .evntcont:last-child {
  border-bottom: 0;
}
.eventrightpanel .evntcont:first-child {
  padding: 0;
}
.right-cont .db-underline::before {
  top: 28px;
  width: 80px;
}
.mt0{
  margin-top: 0;
}

/*inner page end*/

/*footer start*/
.sub-footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px 0;
}
.uline {
  border-bottom: 1px solid #ffffff;
  color: #fff;
  padding-bottom: 5px;
}
.quicklinkleft {
  color: #ffffff;
  float: left;
  padding-left: 0;
}
.quicklinkright {
  color: #fff;
  float: right;
}
.quicklinkleft > li, .quicklinkright > li {
  padding-bottom: 10px;
}
.quicklinkright{
  color: #fff;
}
.quicklinkleft > li > a::before, .quicklinkright > li > a::before {
  content: "";
  font-family: fontawesome;
  font-weight: bold;
  padding-right: 10px;
  color: #FF7B5D;
}
.list-unstyle.quicklinkleft li, .list-unstyle.quicklinkright li{
  display: block;
}
.sub-footer li a{
  color: #fff;
  font-size: 16px;
}
.scstyle {
  margin-top: 12px;
  padding-left: 0;
}
.scstyle li {
  color: #fff;
  display: inline;
  font-weight: bold;
  padding-right: 10px;
  font-size: 14px;
}
.scstyle li > a {
  color: #fff;
}
.main-footer {
  background: #128E9A;
  color: #fff;
  font-size: 12px;
  padding: 15px 0 8px;
}
.addr {
  color: #ffffff;
  padding-left: 0;
}
.addr .map-maker {
  background: rgba(0, 0, 0, 0) url("../img/map-orange.png") no-repeat scroll left top;
  display: inline-flex;
  padding: 0 0 2px 30px;
  color: #fff;
}
.terms > li > a {
  border-right: 1px solid #fff;
  display: inline;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
}
.terms > li:last-child {
  border-right: 0 none;
  padding-right: 0;
}
.addr .phone {
  background: rgba(0, 0, 0, 0) url("../img/phone-orange.png") no-repeat scroll left top;
  display: inline-flex;
  padding: 0 0 0 30px;
  color: #fff;
}
.addr .email {
  background: rgba(0, 0, 0, 0) url("../img/email-orange.png") no-repeat scroll left top;
  display: inline-flex;
  padding: 0 0 0 30px;
  color: #fff;
}
.main-footer p {
  color: #fff;
  font-size: 14px;
}
.sub-footer li{
  font-size: 14px;
}
.servicebox:hover a{
  text-decoration: none;
}
.terms > li:last-child > a {
  border-right: 0;
}
/*footer end*/

/*media queries start*/

/*query between 1190 to 992*/
@media only screen and (max-width:1190px){

}

/*query between 991 to 768*/
@media only screen and (max-width:991px){
.carousel-inner {
  height: auto;
}
.carousel-control{
  top: 25%;
  bottom: 0;
}
.abouttxt-left h1 {
  font-size: 30px;
}
.navbar-nav.list-unstyle a {
  padding: 25px 16px;
}
.main-nav ul.navbar-nav li a{
  font-size: 12px;
}
.navbar-brand img {
  border-radius: 0;
  position: relative;
  top: 2px;
  width: 111px;
}
.navbar-brand{
  width: initial;
}
.addr .phone{
  display: block;
}
.scstyle {
  margin-bottom: 15px;
  margin-top: 15px;
}
.home-slider{
  padding: 76px 0 30px;
}
.navbar-nav.list-unstyle button{
  margin-top: 18px;
}
.carousel-caption {
  bottom: 12%;
}

}

/*query between 767 to 320*/
@media only screen and (max-width:767px){
.navbar-collapse {
  float: none !important;
}
.navbar-nav.list-unstyle a{
  padding: 8px;
}
.nav.navbar-nav.list-unstyle {
  display: block;
}
.submenu {
  position: static;
  width: 100%;
}
.navbar-nav li{display:block; }
.main-nav .nav > li:hover > .submenu {
  display: none;
}
.nav > li{
  border-bottom: 1px solid #ccc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-toggle {
    background-color: #118f99;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #118f99;
}
.top-header .list-unstyle.pull-right {
  float: none !important;
}
.top-header .container{
  padding-left: 8px;
  padding-right: 8px;
}
.abouttxt-left h1 {
  font-size: 24px;
}
.abouttxt-right p {
  font-size: 14px;
}
.sectionpadding {
  padding-bottom: 0;
}
.home-slider .carousel-caption button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  margin-top: -1px;
  padding: 4px 8px;
  font-size: 12px;
}
.carousel-caption > p {
  font-size: 12px;
}
.carousel-caption > h1 {
  font-size: 18px;
}
.carousel-caption {
  padding: 0 20px 20px;
}
.navbar-nav.list-unstyle button{
  margin-left: 32%;
  margin-bottom: 18px;
}
}

@media only screen and (max-width:599px){
.top-header .list-unstyle li a {
  padding: 0 10px;
}
.home-slider {
  padding: 56px 0 0;
}

}

/*query for 320*/
@media only screen and (max-width:479px){
.top-header .list-unstyle li a{
  padding: 0 6px;
}
.top-header .list-unstyle li a {
  padding: 0 5px;
}
.list-unstyle.terms.pull-right {
  float: none !important;
}
}

/*media queries end*/




